<h2>Article <%= @article.id %></h2>

<%= video_tag @article.video.url, :size => "320x240", :controls => true, :autobuffer => true, :preload => "none" %>

<br/>
<%= image_tag @article.picture.url(:medium) %>

<br/>
<p>
  <h4><%= @article.title %></h4>
  <a><%= @article.text%> </a>
</p>

<a href="/articles">Full list</a>  <a href="/articles/<%= @article.id %>/edit">Edit article</a>